{% load static %}
<!--3rd row start or footer section start-->
<div class="row bg-secondary p-3">
    <div class="col-md-4 text-white">
        <h5>Address</h5><hr>
        2nd floor,landmark Building,<br>
        Near FC college,<br>
        Pune-411002,<br>
        Maharastra,<br>
        Contact:9833742352
    </div>
    <div class="col-md-4 bg-secondary p-3 text-white">
        <h5>Quicks Links</h5><hr>
        <a href="/product" class="color text-white">Home</a><br>
        <a href="about.html" class="color text-white">About</a><br>
        <a href="/contact" class="color text-white">Contact</a><br>
    </div>
    <div class="col-md-4 bg-secondary p-3 text-white">
        <h5>Social Media</h5><hr>
        <h5><a href="https://www.facebook.com/itvedant"><i class="bi bi-facebook text-white"></i></a></h5>
        <h5><a href="https://api.whatsapp.com/send?phone=919205004404&text=Hi,%20I%20went%20through%20Itvedant%27s%20website%20and%20came%20to%20know%20about%20a%20course%20which%20I%20am%20interested%20in.%20Need%20more%20assistance%20from%20you.%20Thank%20you"><i class="bi bi-whatsapp text-white"></i></a></h5>
        <h5><a href="https://www.instagram.com/itvedant/"><i class="bi bi-instagram text-white"></i></a></h5>
        <h5><a href="https://www.youtube.com/channel/UCZ-3vm-2NwZiGpFm5TV8lRA"><i class="bi bi-youtube text-white"></i></a></h5>
    </div></div>
<!--3rd row end or footer section end-->
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>